
<div *ngIf="salons" class="salon">
    <mat-form-field>
        <mat-label>Sélectionnez un salon</mat-label>
        <mat-select [(ngModel)]="reservation.salon">
            <mat-option [value]="null">
            </mat-option>
            <mat-option *ngFor="let salon of salons" [value]="salon">
                {{ salon.nom }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Choisissez une date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div *ngIf="reservation.salon && date" class="informations">
    <button mat-raised-button *ngFor="let heureOuverture of heuresOuverture" color="primary">{{ heureOuverture.heure }}</button>
    <mat-form-field>
        <input matInput placeholder="Prenom" [(ngModel)]="reservation.prenom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="reservation.nom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telephone" [(ngModel)]="reservation.telephone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="reservation.email">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="enregistrerRDV()">Prendre RDV</button>
</div>