
<div *ngIf="salons" class="salon">
    <mat-form-field>
        <mat-label>Sélectionnez un salon</mat-label>
        <mat-select [(ngModel)]="salonId" (selectionChange)="getSalon()">
            <mat-option [value]="null">
            </mat-option>
            <mat-option *ngFor="let salon of salons" [value]="salon.id">
                {{ salon.nom }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="datetime-local" [(ngModel)]="reservation.debut" placeholder="Choisissez une date">
    </mat-form-field>
</div>
<full-calendar 
    defaultView="dayGridMonth" 
    [plugins]="calendarPlugins"
    [weekends]="false"
    [events]="eventData"
    ></full-calendar>
<!-- <div id="full-calendar"></div> -->
<div *ngIf="salon && reservation.debut" class="informations">
    <mat-form-field>
        <input matInput placeholder="Prenom" [(ngModel)]="reservation.prenom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="reservation.nom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telephone" [(ngModel)]="reservation.telephone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="reservation.email">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="enregistrerRDV()">Prendre RDV</button>
</div>